* {
  box-sizing: border-box;
}

.row {
  margin-top: 100px;
  display: grid;
  margin: 0;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
  grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
}


/* Grid measurements:
 *
    TOTAL WIDTH
 *   960px wide 
      including 12 gutters (half gutters on both edges)
 *
    GUTTERS
    *   20px gutters (two half-gutters + 11 full gutters, so 12 total)

    COLUMNS
 *   60px columns (12)
 
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/


/*
  gr-specific padding
*/

.gr-2-3, .gr-3, .gr-4, .gr-6, .gr-12 {

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/*
MOBILE-FIRST
Grid Layout
*/
.gr-2, .gr-2-2, .gr-2-3, .gr-3, .gr-4, .gr-6, .gr-12 {
  grid-column-end: span 12;
}





/*
mid-screens-size resizing
*/
@media only screen and (min-width: 450px){
  .gr-2-2{
    grid-column-end: span 4;
  }

  .gr-2-3{
    grid-column-end: span 6;
  }


}







/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  
  /*
  GRID SETTINGS
  */

  /* 2 columns, 2/12 in % */  
  .gr-2, .gr-2-2{
    grid-column-end: span 2;
  }

  /* 3 columns, 3/12 in % */
  .gr-3, .gr-2-3 {
    grid-column-end: span 3;
  }

  /* 4 columns, 4/12 in % */
  .gr-4 {
    grid-column-end: span 4;
  }

  /* 6 columns, 6/12 in % */
  .gr-6 {
    grid-column-end: span 6;
  }

  /*
  NAV
  */
  .navSpan{
    display: inline;
  }

  .icon{
    display: none;
  }

  nav{
    bottom: auto;
  }

}