.beatNumber{
	display: inline-block;
}

.beatTextVal{
    stroke: black;
    stroke-width: 3px;
    fill: none;
    border: 1px solid green;
    text-anchor: middle;
    font-family: 'Aclonica';
}

.beatSVG{
	overflow: visible;
}

.beatNumberTitle{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 35px;
    margin-bottom: 40px;
}