.beatNumber{
	display: inline-block;
}

.beatTextVal{
    stroke: black;
    stroke-width: 3px;
    fill: none;
    border: 1px solid green;
    text-anchor: middle;
    font-family: futura;
}

.beatSVG{
	overflow: visible;
}