.icon{
  width:40px;
  height:auto;
  margin-top: 15px;
}

.reactLink > *:hover { /* Firefox */
    color: green;
}


.reactLink:visited { /* Firefox */
    color: white;
}

.reactLink:visited {
    color: white; 
}